<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="../assets/styles/main.css">
        <style>
            body {
                background-color: blanchedalmond;
            }
        </style>
    </head>
    <body>
        {% include "masthead.njk" %}
        <h1>{{ pageTitle }}</h1>
        {{ content | safe }}
    </body>
</html>